
body{
	background-image:url("../img/fondo2_t.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	color: #000;
	font-family: 'Sansita', sans-serif;
	font-size: 14px;
	margin: 0
}

#body_copy{
	font-family: 'Cinzel', serif;
	width: 100%;
	height:15%;
	background-color:rgba(250,250,250,.8);
	color: #000;
	margin:122px 0px 10px 0px;
	
}

#body_copy h1 {
font-size: 3em;
text-align:center;
padding: 10px;
margin: 10px;
}

#body_copy h2 {
font-size: 2em;
text-align:center;
margin: 0
}

#copy{
	width: 100%;
	height:auto;
	margin: 0px auto;
	padding: 35px 0;
	font-size: 16px;
	font-family: 'Cairo', sans-serif;
}

#copy section h3{
	font-size: 24px;
	font-family: 'Cinzel', serif;
	padding: 5px 0;
}
#copy section {
	width: 80%;
	margin: 0 auto;
	background-color:rgba(250,250,250,.4);
	padding: 15px 135px;
}

nav {
  margin: 0;
  position: absolute;
  top: 4%;
  width: auto;
  background-color:#000;
  color: #fff;
  padding: 28px 20px;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  display: inline-flex;
  
}
a {
	text-decoration:none;
	color: #fff;
	align-content: center;
  	vertical-align: middle;
  	padding: 10px 20px;
}
a:hover {
	border-bottom: 1px solid;     
}


footer{
	padding: 0;
	margin: 0;
  	position: relative;
  	height: 8em;
  	top: 33em;
  	color: #000;
  	text-align: center !important;
  	display: inline-flex;
  	width: 100%;
	background-color:#fff;
}
footer h4{
position: relative;
	float: left;
	width: 50%;
}
footer section{
	position: relative;
	float: right;
	width: 50%
}